@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-navy: #0b1f39;
    --color-navy-alpha80: rgba(11, 31, 57, 0.8);
    --color-white: #ffffff;
    --color-white-alpha12: rgba(255, 255, 255, 0.12);
    --color-white-alpha16: rgba(255, 255, 255, 0.16);
    --color-darknavy: #040a13;
    --color-gray: #444444;
    --color-gradient-start: #fbb0d9;
    --color-gradient-end: #a56bc6;
    --height-header: 80px;
    --spacing-header: 80px;
    --font-lobster: "Lobster", cursive;
    --font-sans: "Noto Sans JP", sans-serif;
    --z-index-header: 9999;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    background-color: var(--color-navy);
    color: var(--color-white);
    font-family: var(--font-sans);
  }

  a:hover,
  a:focus {
    opacity: 0.8;
  }
}

@layer components {
  .footer {
    position: sticky;
    top: 100vh;
  }

  .post {
    @apply space-y-32 text-14;
    h1 {
      @apply mb-120 text-32 font-bold;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-20 font-bold;
    }
    a {
      @apply underline;
    }
    img {
      @apply mx-auto w-full max-w-800;
    }
  }

  .about,
  .guideline {
    a {
      @apply underline;
    }
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-b from-gradient-start to-gradient-end;
  }

  .bg-gradient-primary-to-br {
    @apply bg-gradient-to-br from-gradient-start to-gradient-end;
  }
}
