@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sans-serif";
    src: local("sans-serif");
    ascent-override: 30%;
    descent-override: 30%;
    line-gap-override: 100%;
    advance-override: 0;
  }

  :root {
    --color-navy: #0b1f39;
    --color-white: #ffffff;
    --color-white-alpha12: rgba(255, 255, 255, 0.12);
    --color-white-alpha16: rgba(255, 255, 255, 0.16);
    --color-darknavy: #040a13;
    --color-gray: #444444;
    --color-gradient-start: #fbb0d9;
    --color-gradient-end: #a56bc6;
    --height-header: 80px;
    --font-lobster: "Lobster", cursive;
    --font-sans: "Noto Sans JP", sans-serif;
    --z-index-header: 9999;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    background-color: var(--color-navy);
    color: var(--color-white);
    font-family: var(--font-sans);
    letter-spacing: 0.05em;
    line-height: 2;
  }

  a:hover,
  a:focus {
    opacity: 0.8;
  }
}

@layer utilities {
  .footer {
    position: sticky;
    top: 100vh;
  }
}
